{% include 'site/header.html' %}
<div class="card" id="about-us__container">
  <div class="card-header">
    <h1 class="card-title">Mi nombre es Gonzalo</h1>
    <p class="card-text">Y soy full stack web and mobile developer</p>
  </div>
  <div class="card-body d-flex gap-3">
    <div class="col-5">
      <img class="card-img-top"
        src="https://pixabay.com/get/gd804647097f678fb86119e8c610764ef7c7b10aec3320aabeead730a19573a3d088f5d5b708b3769ca53a5ff878b6acd81f56edd0073f85c200bbeac7122a958d3498d34ed32d7f6a58e3695f53f4ff0_1280.jpg"
        alt="imagen de programador cyberpunk">
    </div>
    <div class="col-7">

      <h4 class="card-title">Mi nombre es Gonzalo</h4>
      <h6>Soy desarrollador full stack web y mobile</h6>
      <p>
        🐱‍💻Desarrollador Fullstack con especialización en backend, un entusiasta del aprendizaje, trabajo en equipo
        y enseñar por amor al arte.
      </p>
      <p>
        En busca de nuevos desafios y conocer personas que potencien mis habilidades tanto duras como blandas en el
        ambito profesional. Donde poder aportar desde mi experiencia, actitud positiva, proactiva y de siempre buscar
        estrategias para resolver problemas tanto tecnologicos como en general por ejemplo de equipo.
      </p>

      <ul class="list-group">
        <li class="list-group-item">
          <caption>
            🐱‍👤Expertiz en:
          </caption>
        <li class="list-group-item">
          ✔ Node.js, Express.js.
        </li>
        <li class="list-group-item">

          ✔ PostgreSQL, Sequelize.
        </li>
        </li>
        <li class="list-group-item">

          <caption>
            🥋 Amplio dominio de:
          </caption>
        <li class="list-group-item">
          ✔ React.js.
        </li>
        <li class="list-group-item">
          ✔ HTML y CSS.
        </li>
        <li class="list-group-item">
          ✔ Bootstrap y Tailwind.
        </li>
        <li class="list-group-item">
          ✔ MongoDB y Mongoose.
        </li>
        </li>
        <li class="list-group-item">
          <caption>
            🤠 Buen Manejo de:
          </caption>
        <li class="list-group-item">
          ✔ TypeScript.
        </li>
        <li class="list-group-item">
          ✔ GraphQL.
        </li>
        </li>
      </ul>
    </div>
  </div>
</div>
{% include 'site/footer.html' %}