<!doctype html>
<html lang="es">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="./css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

  <nav class="navbar navbar-expand navbar-dark bg-primary mb-5">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="/" aria-current="page">Inicio</a>
      <a class="nav-item nav-link" href="/books">Libros</a>
      <a class="nav-item nav-link" href="/about-us">Nosotros</a>
      <a class="nav-item nav-link" href="/admin/login">Login</a>
    </div>
  </nav>
  <div class="container">
    <main>