<!doctype html>
<html lang="es">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    main {
      min-height: calc(100vh - (48px * 2) - (48px * 2 + 16px + 24px));
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand navbar-light bg-light mb-5">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="/admin/" aria-current="page">Inicio</a>
      <a class="nav-item nav-link" href="books">Libros</a>
      <a class="nav-item nav-link" href="logout">Cerrar sesión</a>
      <a class="nav-item nav-link" href="/">Sitio web</a>
    </div>
  </nav>
  <main>